<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; z-index: 99; width: 100%">
  <div class="container-fluid">
    <img (click)="reloadHome()" style=" cursor: pointer;width: 100px;height: 60px"
         src="https://banner2.cleanpng.com/20180727/tqr/kisspng-computer-icons-love-logo-clip-art-love-island-logo-2018-5b5af4340c33c4.87452605153268741205.jpg"
         class="navbar-brand" href="#">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 20px">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" style="cursor: pointer">Trang chủ</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link active" aria-current="page" routerLink="/vip" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal12">Đề Xuất</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal11"  style="cursor: pointer">Bảng xếp hạng</a>
        </li>
      </ul>

      <div>
        <a [hidden]="!hidden" style="cursor: pointer" routerLink="/messages"><img src="https://img.icons8.com/fluency/48/000000/message-link.png"/></a>
      </div>
      <li class="nav dropdown ">
        <a [hidden]="!hidden" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img style="width: 70px; height: 70px; border-radius: 70px" [src]="user.avatar"/>
        </a>

        <!--        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" >-->
        <!--          <li><a class="dropdown-item" [routerLink]="['/me',user.id] "><img src="https://img.icons8.com/fluency/48/000000/user-male-circle.png"/> Trang cá nhân </a></li>-->
        <!--          <li><hr class="dropdown-divider"></li>-->
        <!--          <li><a class="dropdown-item" routerLink="categoryServices"><img style="height: 30px; width: 30px" src="https://img.icons8.com/fluency/48/000000/licence.png"/> Đăng kí cung cấp dịch vụ</a></li>-->
        <!--          <li><hr class="dropdown-divider"></li>-->
        <!--          <li><a class="dropdown-item" routerLink="/howToUse"><img style="height: 30px; width: 30px" src="https://img.icons8.com/fluency/48/000000/user-manual.png"/> Hướng dẫn trở thành người cung cấp dịch vụ</a></li>-->
        <!--          <li><hr class="dropdown-divider"></li>-->
        <!--          <li><a class="dropdown-item" href="#"><img style="height: 30px; width: 30px" src="https://img.icons8.com/fluency/48/000000/feedback.png"/> Đóng góp ý kiến</a></li>-->
        <!--          <li><hr class="dropdown-divider"></li>-->
        <!--          <li><a (click)="logout()" class="dropdown-item" href="#"><img style="height: 30px; width: 30px" src="https://img.icons8.com/fluency/48/000000/exit.png"/> Đăng xuất</a></li>-->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" style="right: 50px">
          <li><a class="dropdown-item" [routerLink]="['/me',user.id] "><img
            src="https://img.icons8.com/fluency/48/000000/user-male-circle.png"/> Trang cá nhân </a></li>
          <li>
            <hr class="dropdown-divider">


          <li><a class="dropdown-item" routerLink="/howToUse"><img style="height: 30px; width: 30px"
                                                                   src="https://img.icons8.com/fluency/48/000000/user-manual.png"/>
            Hướng dẫn đăng ký cung cấp dịch vụ </a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#"><img style="height: 30px; width: 30px"
                                                     src="https://img.icons8.com/fluency/48/000000/feedback.png"/>
            Đóng góp ý kiến</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a (click)="logout()" class="dropdown-item" href="#"><img style="height: 30px; width: 30px"
                                                                        src="https://img.icons8.com/fluency/48/000000/exit.png"/>
            Đăng xuất</a></li>

        </ul>
      </li>
      <form class="d-flex">
        <button [hidden]="hidden" style="border-radius: 60px" class="btn btn-primary btn-lg" routerLink="login">Đăng
          Nhập
        </button>
      </form>
    </div>
  </div>
</nav>
<div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " style="margin-left: 25%" id="exampleModalLabel11">Bảng xếp hạng được thuê nhiều nhất</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!--        <div class="container-fluid">-->
<!--          <div class="row" *ngFor="let c of listUser">-->
<!--            <div class="col-md-4 mt-5">-->
<!--              <span><img [src]="c.avatar" style="height: 30px; width: 40px" >-->
<!--              {{c.name}}</span></div>-->
<!--            <div class="col-md-4 ms-auto mt-5">{{c.price}}</div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div *ngFor="let item of listUser" class="col-sm-4">
                <div class="card text-center">
                  <div class="title">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <img src="{{item.avatar}}">
                  </div>
                  <div class="price">
                    <h4><sup>$</sup>{{item.price}}</h4>
                  </div>
                  <div class="option">
                    <ul>
                      <li> <i class="fa fa-check" aria-hidden="true"></i> {{item.gender}} </li>
                      <li> <i class="fa fa-check" aria-hidden="true"></i> {{item.hobby}} </li>
                    </ul>
                  </div>
                  <a r [routerLink]="['/usersCCDV/',item.id]" data-bs-dismiss="modal" >Thuê Ngay </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title "  id="exampleModalLabel12">Bảng Xếp Hạng Các Người Cung Cấp Dịch Vụ Đặc Biệt </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container-fluid">
          <!-- freshdesignweb top bar -->

          <header>
            <div id="fdw-pricing-table" style="margin-left: -23px">
              <div *ngFor="let item of vipUserCCDV" class="plan plan1">
                <div class="header">{{item.name}}</div>
                <div class="price"><img src="{{item.avatar}}" alt=""></div>
                <ul>
                  <li><b>Tên Đăng Nhập : </b> {{item.userName}}</li>
                  <li><b>Ngày Sinh </b> {{item.dateOfBirth | date : 'dd/MM'}}</li>
                  <li><b>Giá</b> {{item.price}}</li>
                </ul>
                <a class="signup" [routerLink]="['/usersCCDV/',item.id]"data-bs-dismiss="modal" >Xem Chi Tiết</a>
              </div>

            </div>
          </header><!-- end header -->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Thoát</button>
      </div>
    </div>
  </div>
</div>

