<div class="container">
  <div>
    <h1>List category</h1>
    <form [formGroup]="serviceFormGroup" (ngSubmit)="submit()">


      <table>
        <tr>
          <td>Tên dịch vụ</td>
          <td>Giá dịch vụ</td>
        </tr>
        <tr *ngFor="let service of listServiceShow">
          <td>
            <input type="checkbox" [value]="service.id" (change)="onCheckboxChange($event)"/> {{service.name}}
          </td>
          <td>
            <input type="number" value="service.id">
          </td>
        </tr>

        <button class="btn btn-primary" type="submit" [disabled]="!serviceFormGroup.valid">Submit</button>
      </table>
      <button (click)="getListService()">aaaaaaaaa</button>
    </form>
  </div>

</div>
